.top_bar {
	position: sticky;
	top: 0;
	padding-top: 50px;
/*	display: block;*/
	text-align: center;
	background-color: white;
	border-bottom: solid 1px #808080;
}
.logo {
	font-size: 36px;
}

.left_menu {
	position: fixed;
	width: 200px;
	bottom: 0px;
/*	top: 0px;*/
	margin-top: 106px;
}
.main {
	margin-left: 200px;
	padding-bottom: 15px;
	padding-right: 15px;
}
.left_menu div.sep {
	border: solid 1px #808080;
	margin-top: 10px;
	margin-bottom: 10px;
}
.left_menu ul {
	list-style: none;	
	margin-top: 0px;
	padding-left: 20px;
}
.left_menu li,.Root {
	background: #b9b9d4;
	margin: 3px;
	padding: 2px;
	border: solid 1px #808080;
	padding-left: 10px;
}
.left_menu div.button {
	background: #ddd;
	border: solid 1px #808080;
	margin-top: 10px;
	padding: 5px;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}

.small {
	font-size: 8px;
}

.cmd {
	color: #3e93c9;
}

img.ico_16 {
	width: 16px;
	height: 16px;
}

img.ico_24 {
	width: 24px;
	height: 24px;
}

img.ico_32 {
	width: 32px;
	height: 32px;
}

/*	LA PAGE DE LOGIN
*/
.login {
	width: 480px;
	display: block;
	margin: auto;
	margin-top: 100px;
}

.form {
	margin: auto;
}

table {
	border-collapse: collapse;
}

table.list {
	width: 100%;
}

[onclick]:hover {
	cursor: pointer;
}

tr,td {
	border: solid 1px #808080;
	padding: 8px;
}
td[onclick]
	{
	background-color: #e1f9c7;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #dddddd;
}

th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #555;
	color: white;
}

td.warning, pre.warning {
	background-color: #ffc977;
}
td.fail, span.fail {
	background-color: #f77;
}
td.valid, span.valid {
	background-color: #7f7;
}

label {
	width: 200px;
	display: inline-block;
}

input,select {
	width: 200px;
	margin-top: 15px;
	display: inline-block;
}

input[name=pad] {
	width: 600px;
}

h1,h2,h3,h4 {
	font-weight: normal;
}
