[% PROCESS 'macros.html' %]
<body>
	[% PROCESS 'head.html' %]
	[% PROCESS 'top_bar.html' %]
	[% PROCESS 'left_menu.html' %]
	<div class="main w3-container">
		<h1>View build <b>[% build.BUILD_ID %]</b> of document <b>[% document.DOCUMENT_NAME %]</b>
			</h1>
		
		<table class="detail">
		<tr>
			<th>Document name</th>
			<td onclick="pad2latex.view_document([% build.DOCUMENT_ID %]);">[% document.DOCUMENT_NAME %]</td>
		</tr>
		<tr>
			<th>User</th>
			<td>[% build.BUILD_USER %]</td>
		</tr>
		<tr>
			<th>Creation date</th>
			<td>[% build.BUILD_DTIN %]</td>
		</tr>
		<tr>
			<th>State</th>
			[% show_build_state(build.BUILD_STATE) %]
		</tr>
		[% IF build.BUILD_STATE == 'failed' %]
		<tr>
			<th>Error</th>
			<td>[% build.BUILD_ERR %]</td>
		</tr>
		[% END %]
		[% IF build.BUILD_STATE == 'success' or build.BUILD_STATE == 'warning' %]
		<tr>
			<th>PDF file</th>
                        <td onclick="window.open('[% path_prefix %]build/get_pdf?id=[% build.BUILD_ID %]','_blank');">Open</td>
		</tr>
		[% END %]
		<tr>
			<th>(La)TeX log file</th>
		[% IF has_tex_log %]
			<td onclick="pad2latex.view_build_tex_log([% build.BUILD_ID %])">Available</td>
			<td onclick="pad2latex.view_build_synth_log([% build.BUILD_ID %])">Filtered</td>
		[% ELSE %]
			<td>Not available</td>
		[% END %]
		</tr>
		<tr>
			<th>Builder log file</th>
		[% IF has_my_log %]
			<td onclick="pad2latex.view_build_my_log([% build.BUILD_ID %])">Available</td>
		[% ELSE %]
			<td>Not available</td>
		[% END %]
		</tr>

		</table>
[% IF build.BUILD_STATE == 'warning' %]
<pre class="warning">
[% build.BUILD_WARN %]
</pre>
[% END %]
[% IF log %]
[% log %]
[% END %]
	</div>
</body>
