[% PROCESS 'macros.html' %]
<body>
	[% PROCESS 'head.html' %]
	[% PROCESS 'top_bar.html' %]
	[% PROCESS 'left_menu.html' %]
	<div class="main w3-container">
		<h1>Recently built documents</h1>
[% IF ! list_builds.size %]
		<div>No document has ever been built on this Pad2latex</div>
[% ELSE %]
		<table class="list">
		<tr>
			<th>User</th>
			<th>State</th>
			<th>Name</th>
			<th>Folder</th>
			<th>Creation date</th>
			<th>Modification date</th>
		</tr>
		[% FOR build IN list_builds %]
		<tr>
			<td onclick="pad2latex.view_build([% build.BUILD_ID %]);">[% build.BUILD_USER %]</td>
			[% show_build_state(build.BUILD_STATE) %]
			<td onclick="pad2latex.view_document([% build.document.DOCUMENT_ID %]);">[% build.document.DOCUMENT_NAME %]</td>
			[% IF build.folder %]
			<td onclick="pad2latex.view_folder([% build.folder.FOLDER_ID %]);">[% build.folder.FOLDER_NAME %]</td>
			[% ELSE %]
			<td onclick="pad2latex.view_folder(-1);">Root</td>
			[% END %]
			<td>[% build.BUILD_DTIN %]</td>
			<td>[% build.BUILD_DTMOD %]</td>
			[% IF build.BUILD_STATE == 'success' or build.BUILD_STATE == 'warning' %]
			<td onclick="window.open('[% path_prefix %]build/get_pdf?id=[% build.BUILD_ID %]','_blank');">PDF file</td>
			[% END %]
		</tr>
		[% END %]
		</table>
[% END %]
	</div>
</body>
