[% PROCESS 'macros.html' %]
<body>
	[% PROCESS 'head.html' %]
	[% PROCESS 'top_bar.html' %]
	[% PROCESS 'left_menu.html' %]
	<div class="main w3-container">
		<h1>Recently used document</h1>
		
		<table class="list">
		<tr>
			<th>Type</th>
			<th>Name</th>
			<th>Folder</th>
			<th>State</th>
			<th>Type</th>
			<th>Modification</th>
		</tr>
		[% FOR doc IN list_documents %]
		<tr>
			<td>D.</td>
			<td onclick="pad2latex.view_document([% doc.DOCUMENT_ID %]);">[% doc.DOCUMENT_NAME %]</td>
			[% IF doc.folder %]
			<td onclick="pad2latex.view_folder([% doc.FOLDER_ID %]);">[% doc.folder.FOLDER_NAME %]</td>
			[% ELSE %]
			<td onclick="pad2latex.view_folder(-1);">Root</td>
			[% END %]
			<td>[% doc.DOCUMENT_STATE %]</td>
			<td>[% doc.DOCUMENT_TYPE %]</td>
			<td>[% doc.DOCUMENT_DTMOD %]</td>
		<tr>
		[% END %]
		</table>
	</div>
</body>
