[% PROCESS 'macros.html' %]
<body>
	[% PROCESS 'head.html' %]
	[% PROCESS 'top_bar.html' %]
	[% PROCESS 'left_menu.html' %]
	<div class="main w3-container">
		<h1>Edit document</h1>
		<form target="" method="POST">
			[% IF document %]
			<input type="hidden" name="id" value="[% document.DOCUMENT_ID %]"/>
			[% END %]
			<label for="name">Name</label>
			<input type="text" name="name" [% IF document %]value="[% document.DOCUMENT_NAME %]"[% END %]/><br>

			[% pf_select('pf', 'Platform', document.DOCUMENT_PF) %]<br>

			<label for="pad">Pad (URL)</label>
			<input type="text" name="pad" [% IF document %]value="[% document.DOCUMENT_PAD %]"[% END %]/><br>

			[% folder_select('folder', 'Folder', document.FOLDER_ID) %]<br>
			<label for="type">Type</label>
			<select name="type">
				<option value="latex" [% IF document.DOCUMENT_TYPE == 'latex' %]selected[% END %]>LaTeX</option>
				<option value="md"    [% IF document.DOCUMENT_TYPE == 'md'    %]selected[% END %]>Markdown</option>
			</select><br>

			<label for="state">State</label>
			<select name="state">
				<option value="open"  [% IF document.DOCUMENT_STATE == 'open'  %]selected[% END %]>Open</option>
				<option value="close" [% IF document.DOCUMENT_STATE == 'close' %]selected[% END %]>Close</option>
			</select><br>

			<input type="submit" value="Ok" name="submit"/>
			<input type="reset" value="Cancel"/>
		</form>
	</div>
</body>
