[% PROCESS 'macros.html' %]
<body>
	[% PROCESS 'head.html' %]
	[% PROCESS 'top_bar.html' %]
	[% PROCESS 'left_menu.html' %]
	<div class="main w3-container">
		<h1>View document <b>[% document.DOCUMENT_NAME %]</b>
			<a class="cmd" href="[% path_prefix %]document/edit?id=[% document.DOCUMENT_ID %]">Edit</a>
			<a class="cmd" href="[% path_prefix %]document/check?id=[% document.DOCUMENT_ID %]">Check</a>
			</h1>

		<table class="detail">
		<tr>
			<th>Name</th>
			<td>[% document.DOCUMENT_NAME %]</td>
		</tr>
		<tr>
			<th>Folder</th>
			<td onclick="pad2latex.view_folder([% folder.FOLDER_ID %]);">[% folder.FOLDER_NAME %]</td>
		</tr>
		<tr>
			<th>Type</th>
			<td>[% document.DOCUMENT_TYPE %]</td>
		</tr>
		<tr>
			<th>State</th>
			<td>[% document.DOCUMENT_STATE %]</td>
		</tr>
		<tr>
			<th>Pad platform</th>
			<td>[% document.pf_name %]</td>
		</tr>
		<tr>
			<th>Pad link</th>
			<td><a href="[% document.DOCUMENT_PAD | url %]">[% document.DOCUMENT_PAD %]</a></td>
		</tr>
		<tr>
			<th>Creation date</th>
			<td>[% document.DOCUMENT_DTIN %]</td>
		</tr>
		<tr>
			<th>Modification date</th>
			<td>[% document.DOCUMENT_DTMOD %]</td>
		</tr>
		<tr>
			<th>Actions</th>
			<td>
				<a class="cmd" 
				   href="[% path_prefix %]document/edit?id=[% document.DOCUMENT_ID %]"
				   >Edit</a>
				<a class="cmd"
				   href="[% path_prefix %]document/check?id=[% document.DOCUMENT_ID %]"
				   >Check</a>
				<a class="cmd"
				   href="[% path_prefix %]document/build?id=[% document.DOCUMENT_ID %]"
				   >Build</a>
			</td>
		</tr>
		</table>

[% IF ! list_builds.size %]
		<div>No build request on that document</div>
[% ELSE %]
		<h1>Builds of that document</h1>
		<table>
		<tr>
			<th>User</th>
			<th>State</th>
			<th>Creation date</th>
			<th>Modification date</th>
		</tr>
		[% FOR build IN list_builds %]
		<tr>
			<td onclick="pad2latex.view_build([% build.BUILD_ID %]);">[% build.BUILD_USER %]</td>
			[% show_build_state(build.BUILD_STATE) %]
			<td>[% build.BUILD_DTIN %]</td>
			<td>[% build.BUILD_DTMOD %]</td>
			[% IF build.BUILD_STATE == 'success' or build.BUILD_STATE == 'warning' %]
			<td onclick="window.open('[% path_prefix %]build/get_pdf?id=[% build.BUILD_ID %]','_blank');">PDF file</a></td>
			[% END %]
		</tr>
		[% END %]
		</table>
[% END %]
	</div>
</body>
