[% PROCESS 'macros.html' %]
<body>
	[% PROCESS 'head.html' %]
	[% PROCESS 'top_bar.html' %]
	[% PROCESS 'left_menu.html' %]
	<div class="main w3-container">
		<h1>View folder <b>[% folder.FOLDER_NAME %]</b>
		[% IF folder.FOLDER_ID > 0 %]
			<a class="cmd" href="[% path_prefix %]folder/edit?id=[% folder.FOLDER_ID %]">Edit</a>
		[% END %]
		[% IF list_folders.size == 0 && list_documents.size == 0 %]
			<a class="cmd" href="[% path_prefix %]folder/delete?id=[% folder.FOLDER_ID %]">Del</a>
		[% END %]
			</h1>
		
		<table class="list">
		<tr>
			<th>Type</th>
			<th>Name</th>
		</tr>
		[% FOR fold IN list_folders %]
		<tr>
			<td>F.<img src="[% path_prefix %]static/folder.svg" class="ico_16"></td>
			<td onclick="pad2latex.view_folder([% fold.FOLDER_ID %]);">[% fold.FOLDER_NAME %]</td>
		</tr>
		[% END %]
		[% FOR doc IN list_documents %]
		<tr>
			<td>D.</td>
			<td onclick="pad2latex.view_document([% doc.DOCUMENT_ID %]);">[% doc.DOCUMENT_NAME %]</td>
			<td>[% doc.DOCUMENT_STATE %]</td>
			<td>[% doc.DOCUMENT_TYPE %]</td>
		<tr>
		[% END %]
		</table>
	</div>
</body>
