[% PROCESS 'macros.html' %]
<body>
	[% PROCESS 'head.html' %]
	[% PROCESS 'top_bar.html' %]
	[% PROCESS 'left_menu.html' %]
	<div class="main w3-container">
		<h1>Edit folder</h1>
		<form target="" method="POST">
			[% IF folder %]
			<input type="hidden" name="id" value="[% folder.FOLDER_ID %]"/>
			[% END %]
			<label for="name">Name</label>
			<input type="text" name="name" [% IF folder %]value="[% folder.FOLDER_NAME %]"[% END %]/><br>

			[% folder_select('parent', 'Parent', folder.FOLDER_PAR) %]<br>

			<input type="submit" value="Ok" name="submit"/>
			<input type="reset" value="Cancel"/>
		</form>
	</div>
</body>
