<head>
	<link href="[% path_prefix %]css/w3.css" rel="stylesheet">
	<link href="[% path_prefix %]css/style.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
[% IF 0 %]
	<script type="text/javascript" src="/javascript/jquery/jquery.min.js"></script>
[% END %]
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

	<script type="text/javascript" src="/javascript/pad2latex/pad2latex.js"></script>
	<script>pad2latex.set_path_prefix([% path_prefix %])</script>
</head>

