<div class="left_menu w3-sidebar w3-bar-block">

[% BLOCK __show_folders %]
<ul>
	[% FOR folder IN folders %]
	<li onclick="pad2latex.view_folder('[% folder.FOLDER_ID %]')" class="w3-round">
		[% folder.FOLDER_NAME %]
[% IF 0 %]
		<a class="small cmd" href="[% path_prefix %]folder/edit?id=[% folder.FOLDER_ID %]">Edit</a>
[% END %]
	</li>
	[% IF folder.contains %]
		[% show_folders(folder.contains) %]
	[% END %]
	[% END %]
</ul>
[% END %]
[% MACRO show_folders(folders) PROCESS __show_folders %]

<div class="button w3-round-xlarge" onclick="location='[% path_prefix %]folder/edit'">
	New folder
</div>
<div class="button w3-round-xlarge" onclick="location='[% path_prefix %]document/edit'">
	New document
</div>

<div class="button w3-round-xlarge" onclick="location='[% path_prefix %]document/recent'">
	Recent documents
</div>

<div class="button w3-round-xlarge" onclick="location='[% path_prefix %]build/recent'">
	Recent builds
</div>

<div class="sep"></div>

<div class="Root w3-round" onclick="location='[% path_prefix %]folder/view?id=-1'">
	Root
</div>
[% show_folders(folders) %]
</div>
