<body>
	[% PROCESS 'head.html' %]
	[% PROCESS 'top_bar.html' %]
	<div class="login">
		<form target="" method="POST">
			<label for="login">Identifiant</label>
			<input type="text" name="login"/><br>

			<label for="password">Mot de passe</label>
			<input type="password" name="password"/>
			<a class="small cmd" title="Show/hide password" onclick="pad2latex.toggle_password(this);">view</a><br>

			<input type="submit" value="Ok"/>
			<input type="reset" value="Cancel"/>
		</form>
	</div>
</body>
