

[% BLOCK __show_folders_options %]
	[% FOR fold IN folders %]
		<option value="[% fold.FOLDER_ID %]" [% IF value == fold.FOLDER_ID %]selected[% END %]>[% prefix %][% fold.FOLDER_NAME %]</option>
		[% IF fold.contains %]
			[% show_folders_options(fold.contains,value,prefix _ ' &gt; ') %]
		[% END %]
	[% END %]
[% END %]
[% MACRO show_folders_options(folders,value,prefix) PROCESS __show_folders_options %]

[% MACRO folder_select(name, label, value) BLOCK %]
<label for="[% name %]">[% label %]</label>
<select name="[% name %]">
	<option value="-1" [% IF value == '-1' %]selected[% END %]>Racine</option>
	[% show_folders_options(folders,value,'') %]
</select>
[% END %]


[% MACRO pf_select(name, label, value) BLOCK %]
<label for="[% name %]">[% label %]</label>
<select name="[% name %]">
	[% FOR pf IN pfs %]
	<option value="[% pf.value %]" [% IF value == pf.value %]selected[% END %]>[% pf.name %]</option>
	[% END %]
</select>
[% END %]

[%
MACRO show_build_state(state) BLOCK;
	IF state == 'new';
		class = '';
		name = 'New';
		label = 'Newly created, no action taken yet.';
	ELSIF state == 'data';
		class = 'neutral';
		name = 'Data';
		label = 'Data have been fetched from the pad. No compilation yet.';
	ELSIF state == 'building';
		class = 'neutral';
		name = 'Building';
		label = 'Compilation is running (since the last modification date).';
	ELSIF state == 'canceled';
		class = 'fail';
		name = 'Canceled';
		label = 'Compilation have been stoped manualy.';
	ELSIF state == 'failed';
		class = 'fail';
		name = 'Failed';
		label = 'Compilation failed.';
	ELSIF state == 'warning';
		class = 'warning';
		name  = 'Warning';
		label = 'Have been warning(s)';
	ELSIF state == 'success';
		class = 'valid';
		name = 'Success';
		label = 'Compilation was successful, PDF file is available.';
	ELSE;
		class = 'fail';
		name = 'Unknown';
		label = 'There is a bug in Pad2latex. The state of that build is unknown.';
	END;
	%]<td class="[% class %]" title="[% label %]">[% name %]</td>[%
END;

%]
